@import url(/fonts/arial.ttf);
@import url(/fonts/Cotta\ Free.otf);
@import url(/fonts/Montserrat-Bold.ttf);
@import url(/fonts/Montserrat-Medium.ttf);
@import url(/fonts/Montserrat-Regular.ttf);
@import url(/fonts/MyriadPro-Bold_2.otf);
@import url(/fonts/MyriadPro-Regular_1.otf);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}

:root {
    scroll-behavior: smooth;
    --menu-color: #fff;
    --h1-color: rgb(248, 184, 3);
    --title-font-family: "Frank Ruhl Libre", serif;
    --text-font-family: 'Rubik', sans-serif;
}

