.events {
    background-image: 
        url(/sources/events_background_middle.jpg), 
        url(/sources/feedbacks_background.jpg);
        background-size: 100% calc(80% - 10px), 100% calc(20% - 10px); 
    background-repeat: no-repeat, repeat; 
    background-position: center top, center bottom; 
}

.events_title {
    text-align: center;
    font-family: "Cotta";
    font-weight: 400;
    font-size: 15vw;
    color: var(--text-color-peach);
}

.events_collage_hidden {
    display: none;
}

.events_collage_visible {
    display: block;
    width: 80%;
}

.events_discription_title {
    text-align: center;
    padding: 0 10px;
    text-align: center;
    font-family: "Cotta";
    font-weight: 400;
    font-size: 7vw;
    color: var(--text-color-peach);
}

.events_line {
    display: block;
    height: 1px;
    width: 80%;
}

.events_discription {
    text-align: center;
    margin: 10px 0;
    padding: 0 10px;
    text-align: center;
    font-family: "Cotta";
    font-weight: 400;
    font-size: 5vw;
    color: var(--text-color-peach);
}

.events_footer img {
    padding-top: 20px;
    display: block;
    width: 80%;
}