.events {
    background-image: 
        url(/sources/events_background_middle.jpg), 
        url(/sources/feedbacks_background.jpg);
        background-size: 100% calc(80% - 10px), 100% calc(20% - 10px); 
    background-repeat: no-repeat, repeat; 
    background-position: center top, center bottom; 
}

/* .events_collage img {
    width: 600px;
} */

.events_title {
    text-align: center;
    font-family: "Cotta";
    font-weight: 400;
    font-size: 15vw;
    color: var(--text-color-peach);
}

.events_collage_hidden {
    display: none;
}

.events_collage_visible {
    display: block;
    width: 80%;
    padding-bottom: 5px;
}

.events_discription_title {
    text-align: center;
    padding: 20px 30px;
    text-align: center;
    font-family: "Cotta";
    font-weight: 400;
    font-size: 7vw;
    color: var(--text-color-peach);
}

.events_line {
    display: block;
    height: 1px;
    width: 80%;
    margin-top: 5px;
}

.events_discription {
    text-align: center;
    margin: 10px 0;
    padding: 0 30px;
    text-align: center;
    font-family: "Cotta";
    font-weight: 400;
    font-size: 5vw;
    color: var(--text-color-peach);
}

.events_footer img {
    padding-top: 20px;
    display: block;
    width: 80%;
}

@media (min-width: 500px) {
    .our_story_description {        
        font-size: 20px;
    }    
}

@media (min-width: 790px) {
    .more_foto {        
        display: block;
    }
    .events_collage {
        display: flex;
        justify-content: center;
    }
    .events_collage img {
        width: calc(45% - 20px); /* Задаємо ширину кожному елементу, віднімаючи відсупи між ними */
        margin: 10px; /* Відступи між елементами */
        box-sizing: border-box; /* Враховуємо величину відступів у розрахунку ширини елементу */
    }
}


@media (min-width: 1000px) {    
    .our_story_description  {        
        font-size: 24px;
    }
    .events_discription_title {
        font-size: 52px;
    }
}