.feedbacks {
    background-image: url(sources/feedbacks_background.jpg);
    padding-bottom: 30px;
    padding-top: 20px;
}

.feedbacks img {
    width: 90%;
    display: block;
}

.feedbacks_visible_slide{
    display: block;
}

.feedbacks_hidden_slide {
    display: none;
}

.feedbacks_corousel_title {
    color: var(--text-color-light);
    font-family: "Montserrat-Bold";
    margin-left: 7vw;
}

.feedbacks_corousel_subscription {
    color: var(--text-color-light);
    font-family: "Montserrat-Regular";
    margin: 7vw;
}



