.header {
    background-image: url("/sources/our_story_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.header img {
    width: 100%;
}

.header_links {
    display: none;
}

@media (min-width: 780px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0px;
    }

    .header_logo img {
        order: 1;
        /* Зміщуємо лого вліво */
        width: 15em;
    }

    .header_links {
        display: flex;
    }

    .header_links a {
        margin-left: 3em;
        /* Задаємо відступи між посиланнями */
        color: var(--text-color-peach);
        cursor: pointer;
        font-family: "Arial";
        font-size: 18px;
        text-decoration: none;
    }

}