.hope_groups {
    background-image: url(/sources/hope_groups_background.jpg);
    padding-bottom: 10px;
}

.hope_groups_title {
    text-align: center;
    padding-top: 20px;
    font-family: "Cotta";
    font-weight: 400;
    font-size: 12vw;
    color: var(--text-color-light);
} 

.hope_groups_hidden-slide {
    display: none;
}

.hope_groups_visible-slide {
    display: block;
}

.hope_groups_carousel {
    margin: 20px;
    border-radius: 8px;
    background-color: var(--text-color-light);
}

.hope_groups_carousel img {
    padding-top: 10px;
    display: block;
    width: 80%;
}

.hope_groups_carousel_title {
    text-align: center;
    padding-top: 20px;
    font-family: "Cotta";
    font-weight: 400;
    font-size: 7vw;
    color: var(--text-color-peach);
}

.hope_groups_carousel_description {
    font-family: "Montserrat-Regular";
    text-align: center;
    padding: 10px 10px 20px 10px;
    color: var(--text-color-peach);    
}