.hope_groups {
    position: relative;
    background-image: url(/sources/hope_groups_background.jpg);
    padding: 20px;
}

.hope_groups_title {
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    font-family: "Cotta";
    font-weight: 400;
    font-size: 12vw;
    color: var(--text-color-light);
}

/* TEST */
.hope_groups_slider {
    max-width: 80%;
    overflow: hidden;
}

.hope_groups_slider_line {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 0.4s;
}

.slider-prev {
    position: absolute;
    top: 60%;
    right: 90%;
}

.slider-next {
    position: absolute;
    top: 60%;
    left: 90%;
}

.hope_group_arrow button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(139, 78, 73);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.hope_group_arrow_icon {
    width: 15px;
    height: 15px;
}

/* TEST */

.hope_groups_carousel {
    height: 23em;
    border-radius: 8px;
    background-color: var(--text-color-light);
}

.hope_groups_carousel img {
    padding-top: 10px;
    display: block;
    width: 80%;
}

.hope_groups_carousel_title {
    text-align: center;
    padding-top: 20px;
    font-family: "Cotta";
    font-weight: 400;
    font-size: 7vw;
    color: var(--text-color-peach);
}

.hope_groups_text {
    display: flex;
    align-items: center;
}

.hope_groups_carousel_description {
    font-family: "Montserrat-Regular";
    text-align: center;
    padding: 10px 10px 20px 10px;
    color: var(--text-color-peach);
}

@media (min-width: 780px) {
    .hope_group_arrow button {
        display: none;
    }
    .hope_groups_slider_line {
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Three columns */
        grid-auto-rows: auto;
        /* Auto rows */
        grid-gap: 20px;
        /* Gap between grid items */
    }

    .hope_groups_carousel {
        border-radius: 8px;
        background-color: var(--text-color-light);
        padding: 20px;
    }

    .hope_groups_carousel img {
        padding-top: 10px;
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .hope_groups_carousel_title {
        text-align: center;
        padding-top: 10px;
        font-size: 4vw;
    }

    .hope_groups_text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hope_groups_carousel_description {
        text-align: center;
        padding: 10px 5px 20px 5px;
    }
    .hope_groups_slider {
        overflow: visible;
    }
}

@media (min-width: 1000px) {
    .hope_groups_slider_line {
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* Three columns */
        grid-auto-rows: auto;
        /* Auto rows */
        grid-gap: 20px;
        /* Gap between grid items */
        margin-left: -1em;
    }

    .hope_groups_carousel {
        border-radius: 8px;
        background-color: var(--text-color-light);
        padding: 10px;
    }

    .hope_groups_carousel img {
        padding-top: 10px;
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .hope_groups_carousel_title {
        text-align: center;
        padding-top: 10px;
        font-size: 3vw;
    }

    .hope_groups_text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hope_groups_carousel_description {
        text-align: center;
        padding: 10px 5px 20px 5px;
    }
    .hope_groups_slider {
        overflow: visible;
    }
}

@media (min-width: 1200px) {
    .hope_groups_title {
        font-size: 140px;
    }
    .hope_groups_carousel_title {
        font-size: 35px;
    }
}