.header {
    background-image: url(/sources/our_story_background.jpg);
    /* padding: 20px; */
}

.header_logo {
    display: block;
}

.header img {
    width: 100%;
    max-width: 200px;
}

.header_links {
    display: none;
}

.support_us {
    background-color: rgb(222, 124, 113);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}